@use "../custom" as *;
@use "../components/mixins" as *;

.section-breadcrum {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .banner-breadcrum {
    position: absolute;
    top: -29px;
    z-index: 9;
    background-color: blue;
    color: white !important;
    border-radius: 10px;
    background-color: $blue;
    ul {
      padding: 9px 16px 0px 16px;
      font-size: 20px;
      li {
        a {
          text-transform: uppercase;
          color: white;
          padding-left: 9px;
        }
        i {
          color: white;
          padding-left: 9px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .section-breadcrum {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .banner-breadcrum {
      position: absolute;
      top: -29px;
      z-index: 9;
      background-color: blue;
      color: white !important;
      border-radius: 10px;
      background-color: $blue;
      ul {
        padding: 9px 16px 0px 16px;
        font-size: 20px;
        li {
          a {
            text-transform: uppercase;
            color: white;
            padding-left: 9px;
          }
          i {
            color: white;
            padding-left: 9px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
}
