@use "../custom" as *;
@use "../components/mixins" as *;

::-webkit-scrollbar {
  width: 7px;
}

::-moz-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: $badge;
}

::-moz-scrollbar-track {
  background-color: $badge;
}

::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 7px;
  &:hover {
    background: $blue;
  }
}

::-moz-scrollbar-thumb {
  background: $orange;
  border-radius: 7px;
  &:hover {
    background: $blue;
  }
}
